body{
  background-color: #F2F1EF;
  font-family: 'Varela';
  text-align: center;
}

h1, h2, h3{
  font-size: 18px;
  font-family: 'Roboto';
}

img{
  text-align: left;
  width: 150px;
  margin: 15px;
  margin-left: 0px;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: #CF000F;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.card {
  width: 500px;
  margin: 11px auto;
  background-color: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.img-light-border{
  border-radius: 10px;
}

.headline-text{
  font-size: 25px;
  line-height: auto;
  font-family: 'Montserrat Subrayada';
}

.list-inline {
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.light-padding{
  padding: 10px;
  width: 540px;
}

.highlight{
  color: #CF000F;
}

.btn-red{
    background-color: rgb(207, 0, 15);
    color: white;
    font-weight: 500;
    padding: 10px;
    border-radius: 40px;
    margin: 2px;
    margin-left: 135px;
    width: 200px;
    border-color: rgb(207, 0, 15);
    border: solid;
}

.btn-red:hover{
  border-color: black;
}

#sidebar {
  position: fixed;
  width: 300px;
  left: 50px;
  top: 100px;
  bottom: 0;
}

#page-content {
  margin-left: 100px;
}

.sidebar-content{
    margin: 9px;
    border: solid;
    border-radius: 30px;
}

.sidebar-content:hover{
  background-color: white;
}

.sidebar-content > a:hover {
  color: inherit;
}

.box-hover {
  border: solid;
  border-color: #FFFFFF;
}

.box-hover:hover{
  border: solid;
  border-color: black;
}
